@model CountryModel

<h5>Create new country</h5>

@using (Html.BeginForm("Submit", "Country", FormMethod.Post))
{
    <div class="container-full" style="background-color:aliceblue">
        <div class="container">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name)
            @Html.LabelFor(x => x.ISO3)
            @Html.TextBoxFor(x => x.ISO3)
            <input type="submit" value="Submit" />
        </div>
    </div>
}

@Html.ValidationSummary()