@model GeneralModel

<h3>Athletes</h3>

@using (Html.BeginForm("FilterGeneral", "Athlete", FormMethod.Post))
{
    <div class="container-full" style="background-color:aliceblue">
        <div class="container">
            @Html.DropDownListFor(x => Model.FilterSort.FilterSport, new SelectList(Model.Sports, "Name", "Name"))
            @Html.DropDownListFor(x => Model.FilterSort.FilterCountry, new SelectList(Model.Countries, "Name", "Name"))
            @Html.DropDownListFor(x => Model.FilterSort.FilterActivity, new SelectList(Model.FilterSort.TeamActivityProperties))
            <input type="submit" value="Filter" />
        </div>
    </div>
}

@using (Html.BeginForm("SortBy", "Athlete", FormMethod.Post))
{
    <div class="container-full" style="background-color:aliceblue">
        <div class="container">
            @Html.DropDownListFor(x => Model.FilterSort.SortOrder, new SelectList(Model.FilterSort.SortProperties))
            <input type="submit" value="Sort" />
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Country</th>
            <th scope="col">Sports</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Athletes)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.CountryName</td>
                <td>
                    @foreach (var sports in item.Sports)
                    {
                        <ul>@sports</ul>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>